In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [6]:
# q1 : Try to print a prime number in between 1 to 1000

In [10]:
for number in range(1, 1001):
   # all prime numbers are greater than 1
   if number > 1:
       for i in range(2, number):
           if (number % i) == 0:
               break
       else:
           print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [2]:
#another way
for number in range(2,1001):
    for i in range(2, number):
        if (number % i) == 0:
            break
    else:
        print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [3]:
#q2 : Try to write a function which  is equivalent  to print function in python

In [4]:
#print() and Standard Out. Every running program has a text output area called "standard out", or sometimes just "stdout". The Python print() function takes in python data such as ints and strings, and prints those values to standard out.
import sys 
def my_print(content):
  sys.stdout.write(content)

In [6]:
my_print("printing [somali mishra] not using inbuilt print function in python")

printing [somali mishra] not using inbuilt print function in python

In [7]:
#q3 : Try to write a function which is a replica of list append , extend and pop function

In [14]:
#Replica of Append
list=[]
def my_append(entries):
  for i in range(entries):
    n=eval(input())
    j=len(list)
    list.insert(j,n)
  return list

my_append(3)

'string'
3
6.789

['string', 3, 6.789]

In [15]:
list

['string', 3, 6.789]

In [16]:
for i in list:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
#Replica of Extend
def my_extend(list,n):
  for x in n:
    j=len(list)
    list.insert(j,x)
  return list

my_extend([4,6,7],eval(input("enter list for extend")))

enter list for extend[1,2,4,56,7.89]

[4, 6, 7, 1, 2, 4, 56, 7.89]

In [18]:
#Replica of Pop (Removes last index)
def my_pop(list1):
  list1.remove(list1[len(list1)-1])
  return list1

my_pop([4,5,6,100,86])

[4, 5, 6, 100]

In [19]:
# q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [3]:
#Approach 2 (Better Approach)
args=('abc',77,'xyz',1,2,3)
print(''.join(list(filter(lambda x:type(x)==str,args))))

abcxyz

In [4]:
#Approach 1
from functools import reduce
lst = ['abc','rtg','types']
reduce(lambda x,y: x+y,lst)

'abcrtgtypes'

In [5]:
# q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [6]:
lst = list(range(1, 101))
print(list(map(lambda x:x*x, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [7]:
#  q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [8]:
#1. Doubling 
double = lambda x: x * 2
print(double(5))

10

In [9]:
#2. Squaring in a given range
lst = list(range(1, 11))
print(list(map(lambda x:x*x,lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
from functools import reduce
lst = list(range(1, 11))
x=reduce(lambda x:x*x, lst)
print(x)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [10]:
#3. Concatenation of all string
args=('abc',77,'xyz',1,2,3)
print(''.join(list(filter(lambda x:type(x)==str,args))))

abcxyz

In [11]:
#4. Product of all elements in a list
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce (lambda x, y: x*y, sequences)
print(product)

120

In [61]:
#5. Lambda with if-else
max = lambda a, b : a if(a > b) else b
print(max(100, 20))

100

In [15]:
#6. Sorting a list and getting second largest element
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)
 
# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

In [16]:

#7. Odd Numbers from the list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [17]:

#8. Upper Case
animals = ['dog', 'cat', 'parrot', 'rabbit']
uppered_animals = list(map(lambda animal: str.upper(animal), animals))
 
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [18]:
#9. Lower Case
animals = ['DOG', 'CAT', 'PARROT', 'RABBIT']
lowered_animals = list(map(lambda animal: str.lower(animal), animals))
 
print(lowered_animals)

['dog', 'cat', 'parrot', 'rabbit']

In [19]:

#10. Cubing
lst = list(range(1, 11))
print(list(map(lambda x:x*x*x, lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [20]:
#  q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [25]:
def read(filename):
  f = open(filename,"r")
  if f.mode == "r":
    contents = f.read()
    print(contents)

read("notes.txt")

Create a sequence of numbers from 0 to 5, and print each item in the sequence:

x = range(6)
for n in x:
  print(n)