In [ ]:
q1:
ineuron
ineuron ineuron 
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [9]:
#q1
n=4
for i in range(4):
    for j in range(i+1):
        print('ineuron',end=' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [12]:
#another way
row=int(input('please enter how many rows you want to print:'))
print()
for i in range(row):
    print('ineuron '*(i+1))

please enter how many rows you want to print:6

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron

In [ ]:
q2:
                ineuron
        ineuron         ineuron
ineuron        ineuron          ineuron
        ineuron         ineuron
                ineuron

In [13]:
#q2
n=5
for i in range(3):
    for j in range(i,n-1):
        print(' '*len('ineuron'),end=' ')
    for j in range(i+1):
        print('ineuron',end=' ')
    for j in range(i):
        print('ineuron',end=' ')
    print()

                                ineuron
                        ineuron ineuron ineuron
                ineuron ineuron ineuron ineuron ineuron

In [41]:
#another way
for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(('ineuron '*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

In [42]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

In [ ]:
q3:try to extract all the list entity
q4:try to extract all the dict entity
q5:try to extract all the tuple entity
q6:try to extract all the numerical data it may be a part of dict key and values
q7:try to give summation of all the numeric data  
q8:try to filter out all the odd values out all numeric data which is a part of a list
q9:try to extract 'ineuron' out of this data 
q10:try to find out a number of occurances of all the data
q11:try to find out number of keys in dict element
q12:try to filter out all the string data
q13:try to find out alphanum in data
q14:try to find out multiplication of all numeric value in the individual collection inside dataset
q15:try to unwrape all the collection inside collection and create a flat list

In [9]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]

In [2]:
#q3:try to extract all the list entity
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [3]:
#q4:try to extract all the dict entity
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [4]:
#q5:try to extract all the tuple entity
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [28]:
#q6:try to extract all the numerical data it may b a part of dict key and values
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int :
                l1.append(k)
                l1.append(v)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [43]:
#another way
l11=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l11.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l11.append(g)
print(l11)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [6]:
#q7:try to give summation of all the numeric data  
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int :
                l1.append(k)
                l1.append(v)
print(sum(l1))

156

In [9]:
#q8:try to filter out all the odd values out all numeric data which is a part of a list
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
l1=[]
for i in l:
    if type(i)==list:
        for j in i:
            if (type(j)==int and j%2 != 0):
                l1.append(j)
print(l1)

[1, 3]

In [44]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [45]:
#another way
for i in l1:
    if i%2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [48]:
#q9:try to extract 'ineuron' out of this data 
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
for i in l:
    if type(i)==list:
        for j in i:
            if j=='ineuron':
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if v=='ineuron':
                print(v)

ineuron
ineuron

In [49]:
#q10:try to find out a number of occurances of all the data
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
l2=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l2.append(j)
    if type(i)==dict:
        for k,v in i.items():
            l2.append(k)
            l2.append(v)
for e in set(l2):
    print(e,':',l2.count(e))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
k3 : 1
8 : 1
ineuron : 2
data science : 1
45 : 1
sudh : 1
k1 : 1
23 : 1
kumar : 1

In [50]:
#q11:try to find out number of keys in dict element
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
lk=[]
for i in l:
    if type(i)== dict:
        for j in i:
            lk.append(j)
print(len(lk))

5

In [24]:
#another way
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [18]:
#q12:try to filter out all the string data
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str or type(v)==str :
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [2]:
#q13:try to find out alphanum in data
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
str1=''
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            str1=str(j)
            if str1.isalnum():
                print(str1,end=' ')
    if type(i)==dict:
        for k in i.keys():
            str1=str(k)
            if str1.isalnum():
                print(str1,end=' ')
        for v in i.values():
            str1=str(v)
            if str1.isalnum():
                print(str1,end=' ')

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 k1 k2 k3 3 7 sudh ineuron kumar 6 8 ineuron

In [51]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [30]:
#another way
for i in l1:
    if type(i)==str:
        if i.isalnum():
            print(i)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [52]:
#q14:try to find out multiplication of all numeric value in the individual collection inside dataset
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                m=m*j
        print(type(i),m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n)==int:
                    m=m*n
        print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [35]:
#not the r8 snswer check once again
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
counter=1
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            counter=counter*j
print(counter)

37558080000

In [53]:
#q15:try to unwrape all the collection inside collection and create a flat list
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
l6=[]
for i in l:
    if  type(i) == tuple or type(i) == set or type(i) == list:
        for j in i:
            l6.append(j)
    if type(i)==dict:
        for k in i.items():
            for m in k:
                l6.append(m)
print(l6)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']