In [ ]:
1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month

sunny.savita@ineuron.ai ,sudhanshu@ineuron.ai

In [2]:
import pandas as pd
import datetime as dt

In [3]:
df2=pd.read_excel(r'D:\1.SOMALI MISHRA\1.iNeuron\Python\Data set\pandas challenges data\Agent Performance Report.xlsx')
df2

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [4]:
type(df2)

pandas.core.frame.DataFrame

In [5]:
df2.dtypes

SL No                               int64
Date                       datetime64[ns]
Agent Name                         object
Total Chats                         int64
Average Response Time              object
Average Resolution Time            object
Average Rating                    float64
Total Feedback                      int64
dtype: object

# 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [6]:
df2['date_week']=df2['Date'].dt.isocalendar().week

In [7]:
df2.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date_week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30

In [8]:
df2['date_days']=df2['Date'].dt.day

In [9]:
df2_mean=df2.groupby(['Agent Name','date_week'])['Average Rating'].mean().to_frame()

In [10]:
df2_mean

                      Average Rating
Agent Name date_week
Abhishek   26               0.000000
           27               0.000000
           28               0.000000
           29               0.000000
           30               0.000000
...                              ...
Zeeshan    26               0.000000
           27               1.307143
           28               2.948571
           29               3.180000
           30               2.760000

[350 rows x 1 columns]

# 2 .Total working days for each agents

In [11]:
df2.groupby('Agent Name')['date_days'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: date_days, Length: 70, dtype: int64

In [12]:
df2.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date_week,date_days
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30,30

# 3. Total query that you have taken

In [13]:
df2.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

# 4. total Feedback that you have received

In [14]:
df2.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

# 5. a agent name who have average rating between 3.5 to 4

In [15]:
df2[(df2['Average Rating']>=3.5) & (df2['Average Rating']<=4)]['Agent Name']

4                     Swati
10             Manjunatha A
73      Boktiar Ahmed Bappy
76             Prateek _iot
78            Nandani Gupta
               ...
1941         Jawala Prakash
2018          Sanjeev Kumar
2021          Aditya Shinde
2023       Deepranjan Gupta
2097          Sanjeev Kumar
Name: Agent Name, Length: 114, dtype: object

# 6 . Agent name who have rating lesss then 3.5

In [16]:
df2[df2['Average Rating']<3.5]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20               Sanjeevan
21                 Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                 Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

# 7 . agent name who have rating more then 4.5

In [17]:
df2[df2['Average Rating']>=4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                   Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 325, dtype: object

# 8 . how many feedaback agents have received more than 4.5 average

In [18]:
(df2.groupby('Agent Name')['Total Feedback'].mean()>4.5).count()

70

In [19]:
df2.head(2)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date_week,date_days
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,30

# 9 . average weekly response time for each agent

In [26]:
df2.head(2)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date_week,date_days
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,30

In [23]:
import pandas as pd
import datetime as dt
import numpy as np
from datetime import datetime, timedelta

In [24]:
def get_seconds(time_str):
    #print('Time in hh:mm:ss:', time_str)
    # split in hh, mm, ss
    hh, mm, ss = time_str.split(':')
    return int(hh) * 3600 + int(mm) * 60 + int(ss)

In [ ]:
avg_response_sec=[]
for t in df2['Average Response Time']:
    avg_response_sec.append(get_seconds(t))
avg_response_sec
df2['avg_response_sec'] = avg_response_sec

In [ ]:
df2.groupby(['Agent Name','date_week'])['avg_response_sec'].mean()

In [ ]:
******************************************************************

In [ ]:
df2['Average Response Time']=pd.to_datetime(df2['Average Response Time'])
df2['AResponseT_hour'] = df2['Average Response Time'].dt.hour
df2['AResponseT_minute'] = df2['Average Response Time'].dt.minute
df2['AResponseT_second'] = df2['Average Response Time'].dt.second

In [ ]:
#here weekly response time for each agent is in minutes
((df2.groupby('Agent Name')['AResponseT_hour'].sum()*3600) +
(df2.groupby('Agent Name')['AResponseT_minute'].sum()*60) +
(df2.groupby('Agent Name')['AResponseT_second'].sum())/60)/4.4

# 10 . average weekely resolution time for each agents

In [ ]:
avg_resolution_time_sec=[]
for t in df2['Average Resolution Time']:
    avg_resolution_time_sec.append(get_seconds(t))
avg_resolution_time_sec
df2['avg_resolution_time_sec'] = avg_resolution_time_sec
df2.head()

In [ ]:
df2.groupby(['Agent Name','date_week'])['avg_resolution_time_sec'].mean()

In [ ]:
********************************************

In [ ]:
df2['Average Resolution Time']=pd.to_datetime(df2['Average Resolution Time'])
df2['AReslnT_hour'] = df2['Average Resolution Time'].dt.hour
df2['AReslnT_minute'] = df2['Average Resolution Time'].dt.minute
df2['AReslnT_second'] = df2['Average Resolution Time'].dt.second

In [ ]:
#here weekely resolution time for each agents is in minutes
((df_per.groupby('Agent Name')['AReslnT_hour'].sum()*3600) +
(df_per.groupby('Agent Name')['AReslnT_minute'].sum()*60) +
(df_per.groupby('Agent Name')['AReslnT_second'].sum())/60)/4.4

# 11 . list of all agents name

In [72]:
sorted(list(df2['Agent Name'].unique()))

['Abhishek',
 'Aditya',
 'Aditya Shinde',
 'Aditya_iot',
 'Amersh',
 'Ameya Jain',
 'Anirudh',
 'Ankit Sharma',
 'Ankitjha',
 'Anurag Tiwari',
 'Aravind',
 'Ashad Nasim',
 'Ashish',
 'Ayushi Mishra',
 'Bharath',
 'Boktiar Ahmed Bappy',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Dibyanshu',
 'Harikrishnan Shaji',
 'Hitesh Choudhary',
 'Hrisikesh Neogi',
 'Hyder Abbas',
 'Ineuron Intelligence',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Jayant Kumar',
 'Jaydeep Dixit',
 'Khushboo Priya',
 'Madhulika G',
 'Mahak',
 'Mahesh Sarade',
 'Maitry',
 'Maneesh',
 'Manjunatha A',
 'Mithun S',
 'Mukesh',
 'Mukesh Rao',
 'Muskan Garg',
 'Nandani Gupta',
 'Nishtha Jain',
 'Nitin M',
 'Prabir Kumar Satapathy',
 'Prateek _iot',
 'Prerna Singh',
 'Rishav Dash',
 'Rohan',
 'Saif Khan',
 'Saikumarreddy N',
 'Samprit',
 'Sandipan Saha',
 'Sanjeev Kumar',
 'Sanjeevan',
 'Saurabh Shukla',
 'Shiva Srivastava',
 'Shivan K',
 'Shivan_S',
 'Shivananda Sonwane',
 'Shubham Sharma',
 'Sowmiya Sivakumar',
 'Spuri',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Swati',
 'Tarun',
 'Uday Mishra',
 'Vasanth P',
 'Vivek',
 'Wasim',
 'Zeeshan']

In [ ]:
# 12 . percentage of chat on which they have received a feedback
percentage of chat on which they have received a feedback = ((total chats - total feedbacks)/total chats)*100

In [74]:
((
        ((df2.groupby('Agent Name')['Total Chats'].sum())-(df2.groupby('Agent Name')['Total Feedback'].sum()))/
        (df2.groupby('Agent Name')['Total Chats'].sum())
))*100

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    44.765343
Aditya_iot       43.290043
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            54.545455
Wasim            34.411085
Zeeshan          38.191882
Length: 70, dtype: float64

In [75]:
df2.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date_week,date_days
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30,30

# reading Agent Login Report data

In [76]:
df1=pd.read_excel(r'D:\1.SOMALI MISHRA\1.iNeuron\Python\Data set\pandas challenges data\Agent Login Report.xlsx')
df1

,SL No,Agent,Date,Login Time,Logout Time,Duration
0,1,Shivananda Sonwane,2022-07-30,15:35:29,17:39:39,02:04:10
1,2,Khushboo Priya,2022-07-30,15:06:59,15:07:16,00:00:17
2,3,Nandani Gupta,2022-07-30,15:04:24,17:31:07,02:26:42
3,4,Hrisikesh Neogi,2022-07-30,14:34:29,15:19:35,00:45:06
4,5,Mukesh,2022-07-30,14:03:15,15:11:52,01:08:36
...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51,15:02:28,05:58:37
996,997,Bharath,2022-07-20,09:00:49,15:01:32,06:00:43
997,998,Khushboo Priya,2022-07-20,08:59:20,14:26:55,05:27:34
998,999,Nishtha Jain,2022-07-20,08:43:55,14:00:33,05:16:38
999,1000,Tarun,2022-07-01,01:52:47,12:01:07,1900-01-21 10:08:20

In [77]:
type(df1)

pandas.core.frame.DataFrame

In [78]:
df1.dtypes

SL No                   int64
Agent                  object
Date           datetime64[ns]
Login Time             object
Logout Time            object
Duration               object
dtype: object

# 13.Total contributation hour for each and every agents weekly basis

In [62]:
df1['week'] = df1['Date'].dt.isocalendar().week

In [63]:
df1.head(2)

   SL No               Agent       Date Login Time Logout Time  Duration  week
0      1  Shivananda Sonwane 2022-07-30   15:35:29    17:39:39  02:04:10    30
1      2      Khushboo Priya 2022-07-30   15:06:59    15:07:16  00:00:17    30

In [ ]:
Total_duration_secs=[]
for t in df1['Duration']:
    Total_duration_secs.append(get_seconds(t))
Total_duration_secs
df1['Total_duration_secs'] = Total_duration_secs

In [ ]:
df1['hours']=df1['Total_duration_secs']//3600

In [ ]:
df1.groupby(['Agent','week'])['hours'].mean()

In [ ]:
**********************************************************

In [ ]:
df1['modified_Duration']=(pd.to_datetime(df1.Date) + pd.to_timedelta(df1.Duration))
df1['Duration_hour'] = df1['modified_Duration'].dt.hour
df1['Duration_minute'] =df1['modified_Duration'].dt.minute
df1['Duration_second'] = df1['modified_Duration'].dt.second

In [ ]:
((df_log.groupby('Agent')['Duration_hour'].sum()) +
(df_log.groupby('Agent')['Duration_minute'].sum()/60) +
(df_log.groupby('Agent')['Duration_second'].sum())/3600)/4.4

# 14. total percentage of active hour for a month

In [54]:
df1['month'] = df1['Date'].dt.month
df1

,SL No,Agent,Date,Login Time,Logout Time,Duration,week,month
0,1,Shivananda Sonwane,2022-07-30,15:35:29,17:39:39,02:04:10,30,7
1,2,Khushboo Priya,2022-07-30,15:06:59,15:07:16,00:00:17,30,7
2,3,Nandani Gupta,2022-07-30,15:04:24,17:31:07,02:26:42,30,7
3,4,Hrisikesh Neogi,2022-07-30,14:34:29,15:19:35,00:45:06,30,7
4,5,Mukesh,2022-07-30,14:03:15,15:11:52,01:08:36,30,7
...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,2022-07-20,09:03:51,15:02:28,05:58:37,29,7
996,997,Bharath,2022-07-20,09:00:49,15:01:32,06:00:43,29,7
997,998,Khushboo Priya,2022-07-20,08:59:20,14:26:55,05:27:34,29,7
998,999,Nishtha Jain,2022-07-20,08:43:55,14:00:33,05:16:38,29,7
999,1000,Tarun,2022-07-01,01:52:47,12:01:07,1900-01-21 10:08:20,26,7

In [ ]:
100*df1['hours']/df1.groupby('month')['hours'].transform('sum')

In [ ]:
****************************************************************************

In [ ]:
#considering 7 active hours in a day so in 22 days total active hours = 154
(((df1.groupby('Agent')['Duration_hour'].sum()) +
(df1.groupby('Agent')['Duration_minute'].sum()/60) +
(df1.groupby('Agent')['Duration_second'].sum())/3600)/154)*100