In [83]:
#creating docstring
#docstring:Python documentation strings (or docstrings) provide a convenient way of associating documentation with 
#Python modules, functions, classes, and methods.
def test(a,b):
    '''this is my function for concatenation or addition'''
    return a+b

In [84]:
#function call
test(3,4)

7

In [85]:
#function call
test('sudh','kumar')

'sudhkumar'

In [86]:
#function call
test(a=9,b=6)

15

In [87]:
#function call
test(b=45,a=3)

48

In [88]:
#shift+tab(to see docstring)
print()

In [8]:
#To pass 5 values in a function
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [9]:
#function call
#throwing error bcz we have declared 5 variable inside test1 function but 
#while function call we are passing 6 values 
test1(3,4,5,6,7,7)

TypeError: test1() takes 5 positional arguments but 6 were given

In [10]:
#5 value passed so giving output
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [11]:
#4 value passed so giving error
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

In [14]:
#*a means i can pass any no. of arguments
def test(*a):
    return a

In [15]:
#2 arguments passed
test(34,56)

(34, 56)

In [16]:
#4 arguments passed
test(2,3,4,5)

(2, 3, 4, 5)

In [17]:
#7 arguments passed
test(4,5,6,7,8,9,[1,2,3,4])

(4, 5, 6, 7, 8, 9, [1, 2, 3, 4])

In [20]:
#args not a key word its a name,any name i can give
#*args means i can pass any no. of arguments
def test4(*args):
    return args

In [21]:
#5 arguments passed
test4(34,56,6,7,8)

(34, 56, 6, 7, 8)

In [1]:
#write a program to pass any no. of arguments and store it in a list
def test5(*a):
    '''use of function here is any no. of value it can take and output as a list'''
    l=[]
    for i in a:
        l.append(i)
    return l

In [2]:
#function call
test5(2,3,4,5,[345,56,7,8])

[2, 3, 4, 5, [345, 56, 7, 8]]

In [25]:
#check the type
type(test5())

list

In [26]:
#function call
test5(3,4,5,6)

[3, 4, 5, 6]

In [27]:
#passing arguments in function in different permutation and acombination
def test6(a,b,c,d, *m):
    return a,b,c,d, m

In [28]:
#function call
test6(1,2,3,4,5,6,67,8,8)

(1, 2, 3, 4, (5, 6, 67, 8, 8))

In [32]:
#passing arguments in function in different permutation and combination
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [33]:
#here *m means any no. of arguments, so that is why it wont able to recognise a,b,c,d,e value
test7(4,5,6,6,7,7,56,67,34,54,67,78)

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [35]:
#recognise a,b,c,d,e value
test7(4,5,6,6,7,7,56,67,a=34,b=54,c=67,d=78,e=56)

((4, 5, 6, 6, 7, 7, 56, 67), 34, 54, 67, 78, 56)

In [37]:
#** means key value representaion or pass dictionary
def test8(**sudh):
    return sudh

In [38]:
#value should be pass in dictionary (key value)
test8(4,5,6,7,8)

TypeError: test8() takes 0 positional arguments but 5 were given

In [39]:
#key value argument pass
test8(b=4,c=5,d=6,e=7,f=8)

{'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8}

In [42]:
#key value argument pass
test8(b=4,c=5,d=6,e=7,f=[8,4,4,5,7,7])

{'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': [8, 4, 4, 5, 7, 7]}

In [40]:
#create dictionary
d={'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8}

In [41]:
#pass dictionary as argument, it will take only key value pair not direct dictionary
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [43]:
#pass key value and any no. of value as argument
def test9(*m, **s):
    return m,s

In [45]:
#dictionary
test9(345,45,56,5,6,b=4,c=6,d=7,g=9)

((345, 45, 56, 5, 6), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [46]:
#write a function to take any no. as input and print the sum of input no.s
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n+i
    return n

In [47]:
#function call
test10(2,3,4,5,5,6,6)

31

In [48]:
#function call
test10(2,3,4)

9

In [49]:
##write a function to take any no. as input and print the multiplication of input no.s
def test1(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [50]:
#function call
test1(4,5,6,6,7,87,8)

3507840

In [52]:
#create anonymus function
#function without name is called anonymus
n=lambda a,b:a+b

In [53]:
n

In [54]:
#function call
n(4,5)

9

In [55]:
#without using lambda we can write like dis
def test5(a,b):
    return a+b

In [56]:
#function call
test5(4,5)

9

In [57]:
#function call
n(5,6)

11

In [58]:
#take any no. of input using lambda
b=lambda *sudh:sudh

In [59]:
#function call
b(45,4,5,5,6,677)

(45, 4, 5, 5, 6, 677)

In [4]:
#store the value of tuple as list
t=(3,4,5,56,67,7,7,8)
l=[]
for i in t:
    l.append(i)

In [5]:
#print l
l

[3, 4, 5, 56, 67, 7, 7, 8]

In [6]:
#list comprehension operation
#store the value of tuple as list
#t=(3,4,5,56,67,7,7,8)
#1st i is my return statement and for i in t means to iterate through the tuple
[i for i in t]

[3, 4, 5, 56, 67, 7, 7, 8]

In [65]:
#create a string and store each element as a list
s='sudh'

In [66]:
#1st i is my return statement and for i in s means to iterate through the string
[i for i in s]

['s', 'u', 'd', 'h']

In [67]:
#square of a no. up to 10 with comprehension
#i*i is the return part of comprehension and then for loop 
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
#square of a no. up to 10 using normal for loop
l=[]
for i in range(10):
    l.append(i*i)

In [69]:
#print l
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
#store the no. as a list using lambda function
l = lambda *x:[i for i in x]

In [10]:
l(4,5,6,7,8,9,0,56)

[4, 5, 6, 7, 8, 9, 0, 56]

In [17]:
#store the no. as a set using lambda function
l = lambda *y:set(y)

In [18]:
l(4,5,6,7,8,9,0,56,'som')

{0, 4, 5, 56, 6, 7, 8, 9, 'som'}

In [30]:
#store the square of no. as a list
l = lambda *x:[i**2 for i in x]

In [31]:
#function call
l(4,5,6,7,8,9,0,56)

[16, 25, 36, 49, 64, 81, 0, 3136]

In [ ]:
#pass this as argument and output would be count of string that is 3
test14(a=7,b='sudh',c=345,d='sudh',l=[2,3,4,45,'sudh'])

In [79]:
#write a program
#pass this as argument and output would be count of string that is 3
#test14(a=7,b='sudh',c=345,d='sudh',l=[2,3,4,45,'sudh'])
def test14(**k):
    count=0
    for v in k.values():
        if type(v)==str:
            count+=1
        if type(v)==list:
            for i in v:
                if type(i)==str:
                    count+=1
            
    return count

In [80]:
#function call
test14(a=7,b='sudh',c=345,d='sudh',l=[2,3,4,45,'sudh'])

3

In [81]:
#kwargs is the key word argument instead of this 'kwargs' we can use any name
def test15(**kwargs):
    return list(kwargs.values())

In [82]:
test15(a=7,b='sudh',c=345,d='sudh',l=[2,3,4,45,'sudh'])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai