In [ ]:
#when we do numerical calculation we used numpy
#numpy:numerical python

In [1]:
import numpy as np

In [2]:
np.array([2,3,4,5,6])

array([2, 3, 4, 5, 6])

In [3]:
type(np.array([2,3,4,5,6]))

numpy.ndarray

In [4]:
np.array([[2,3,4],[4,5,6]])

array([[2, 3, 4],
       [4, 5, 6]])

In [5]:
np.array([[1,2,3,4],[2,3,4,5]])

array([[1, 2, 3, 4],
       [2, 3, 4, 5]])

In [6]:
l=[[1,2,3,4],[2,3,4,5]]

In [7]:
l[0][0]

1

In [8]:
l[0][1]

2

In [9]:
l[1][3]

5

In [10]:
a=np.array([3,4,5,6],ndmin=5)

In [11]:
a

array([[[[[3, 4, 5, 6]]]]])

In [12]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [13]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
arr.ndim

2

In [15]:
#4,4 is 4 rows and 4 columns and the random numbers will be between 1 and 10
np.random.randint(1,10,(4,4))

array([[6, 7, 7, 6],
       [9, 9, 7, 6],
       [5, 2, 2, 1],
       [4, 1, 4, 6]])

In [16]:
#3D data as we will be able to represent this data using 3 axis
#3 brackets beg and 3 at end: we will have 4*2 dimensions(4 rows and 2 columns) 4 times
np.random.randint(1,10,(4,4,2))

array([[[1, 2],
        [7, 1],
        [1, 4],
        [6, 4]],

       [[6, 1],
        [2, 3],
        [5, 7],
        [1, 4]],

       [[7, 1],
        [5, 4],
        [5, 7],
        [8, 3]],

       [[8, 7],
        [5, 5],
        [6, 1],
        [3, 8]]])

In [ ]:
#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai