In [41]:
#create a list nemed as l
l=[1,2,3,4,5,'sudh',45.67,True]

In [42]:
#print the list l
print(l)

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [43]:
#check the data types of l
type(l)

list

In [44]:
#extrect th element at position 0
l[0]

1

In [45]:
#extrect th element at position -1
l[-1]

True

In [46]:
#check th length of the list
len(l)

8

In [47]:
# extract startiing from o to position 4
l[0:5]

[1, 2, 3, 4, 5]

In [48]:
#reverse the list items
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [49]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [50]:
#extract startiing from o to position 99
#as 100th position is not avialbel in list it wont give error incase slicing but it gives error in case indexing
l[0:100]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [51]:
#extract startiing from o to position 99 with step size of 2
l[0:100:2]

[1, 3, 5, 45.67]

In [52]:
#extract startiing from o to position 7 with step size of -1
#contradiction
l[0:8:-1]

[]

In [53]:
#extrect up to positoon 2
l[:3]

[1, 2, 3]

In [54]:
#try to combine the list with a string
l+'sudh'

TypeError: can only concatenate list (not "str") to list

In [55]:
#try to combine the list with a string plcing it inside a square bracket
l+['sudh']

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

In [56]:
# double the elements of the list
l*2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [57]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [58]:
#check 60 is avialble in list or not
60 in l

False

In [59]:
#check 'sudh' is avialble in list or not
'sudh' in l

True

In [60]:
#check the maximum value in a list
#as in the list string and numeric values are there it is not able to compare and give you the output
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [61]:
#create another list
#as all the values are integer inside the list it can compare and give the r8 output
l1=[3,4,5,6,6]

In [62]:
# find the maximum value from it
max(l1)

6

In [63]:
#create another list
#though all the values are string inside the list it still can able to give us the answer on the basis of alphabets  
l2=['sudh','iNeuron','kumar']

In [64]:
#find the maximum value from it
max(l2)

'sudh'

In [65]:
#append kumar in to the existing list
l.append('kumar')

In [66]:
#print the list
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [67]:
#append another list in to the existing list
l.append([1,2,3,4])

In [68]:
#print the list
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', [1, 2, 3, 4]]

In [69]:
#remove or delete the item from the position 0
l.pop(0)

1

In [70]:
#print the list
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', [1, 2, 3, 4]]

In [71]:
# delete the last item from the list
#Remove and return item at index (default last).
l.pop()

[1, 2, 3, 4]

In [72]:
#print the list
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [73]:
#reverse the original list using function
l.reverse()

In [74]:
#print the list
l

['kumar', True, 45.67, 'sudh', 5, 4, 3, 2]

In [75]:
#reverse the original list using index
#difference between reverse() and reverse using indexes:indexes won't reverse the original list to reverse the original list 
#we have to assign the output on to a variable(e.g - l1=l[::-1]),but reverse() function reverse the original list
l[::-1]

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [76]:
l.reverse()

In [77]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [78]:
#sort the list
#in the list string and numeric values are there so it is not able to do the comparision and give us the output
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [79]:
#print the list l
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [80]:
#print the list l1
l1

[3, 4, 5, 6, 6]

In [81]:
#sort the list l1
l1.sort()

In [82]:
#print the list
l1

[3, 4, 5, 6, 6]

In [83]:
#create a list l3
l3=[8,9,34,23,1,0]

In [84]:
#sort the list
 l3.sort()

In [85]:
#print the list
l3

[0, 1, 8, 9, 23, 34]

In [86]:
# sort the list in descending order
l3.sort(reverse=True)

In [87]:
#print the list
l3

[34, 23, 9, 8, 1, 0]

In [90]:
# sort the list in ascending order(default is in ascending that means reverse=False)
l3.sort(reverse=False)

In [91]:
#print the list
l3

[0, 1, 8, 9, 23, 34]

In [152]:
#create 3 list
l1=[2,3,4]
l2=[6,7,8]
l3=[3,2,4]

In [153]:
#append all list and assign in a single list
l4=[l1,l2,l3]

In [154]:
#print the list
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [155]:
# print the 2nd list inside the list
l4[2]

[3, 2, 4]

In [156]:
# print 2nd element from third list available in list l4
l4[2][1]

2

In [106]:
#count no. of times 3 in list l4
l4.count(3)

0

In [99]:
#print the list l
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [100]:
#count no. of times 2 in list l
#2 is avialbele once
l.count(2)

1

In [103]:
#create a list
l5=[3,4,5,3,3,3]

In [105]:
#count 3 in l5
l5.count(3)

4

In [107]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [108]:
#append 'iNeuron' in existing list
l.append('iNeuron')

In [109]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', 'iNeuron']

In [110]:
#append list into another list
l.append([4,56,'sudh'])

In [111]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', 'iNeuron', [4, 56, 'sudh']]

In [112]:
#adding 'sudh' in to list
#append elements of an iterable to the list that is why sudh has been added like 's','u'...
l.extend('sudh')

In [113]:
l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kumar',
 'iNeuron',
 [4, 56, 'sudh'],
 's',
 'u',
 'd',
 'h']

In [114]:
#create a list 
l6=[1,2,3]

In [115]:
#append list into another list
l6.append([4,5,6])

In [116]:
l6

[1, 2, 3, [4, 5, 6]]

In [117]:
#append a atring in to list
l6.append('sudh')

In [118]:
l6

[1, 2, 3, [4, 5, 6], 'sudh']

In [119]:
#using extend add a numeric value
#(as single element cant be iterable )
l6.extend(45)

TypeError: 'int' object is not iterable

In [120]:
#using append add a numeric value
l6.append(45)

In [121]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45]

In [122]:
#using extend add list member into another list
l6.extend([56,34,21])

In [125]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21]

In [126]:
#using extend add string character in to list
l6.extend('sudh')

In [127]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21, 's', 'u', 'd', 'h']

In [128]:
#find index of element 0 present in l6
#gives index of 1st occurences
l6.index(1)

0

In [129]:
#create a list
l7=[1,2,3,4,5,6,6,7]

In [130]:
#find index of element 6 present in l7
#gives index of 1st occurences
l7.index(6)

5

In [131]:
#create a list
l=[1,2,3,4,5]

In [132]:
#append a numeric value
# it will add the value as a last element in list
l.append(45)

In [133]:
l

[1, 2, 3, 4, 5, 45]

In [134]:
#insert a list in to a specific position
l.insert(1,[1,2,3,4])

In [135]:
l

[1, [1, 2, 3, 4], 2, 3, 4, 5, 45]

In [136]:
3delete the last item
l.pop()

45

In [137]:
#delete the item at position 2
l.pop(2)

2

In [138]:
l

[1, [1, 2, 3, 4], 3, 4, 5]

In [139]:
#remove the item 100 from list
l.remove(100)

ValueError: list.remove(x): x not in list

In [140]:
#remove the item 4 from list
l.remove(4)

In [141]:
l

[1, [1, 2, 3, 4], 3, 5]

In [142]:
l.remove(3)

In [143]:
l

[1, [1, 2, 3, 4], 5]

In [144]:
l

[1, [1, 2, 3, 4], 5]

In [145]:
#it is mutable
l=[1,2,3,4]

In [147]:
l[2]='sudh'

In [148]:
l

[1, 2, 'sudh', 4]

In [149]:
s='iNeuron'

In [151]:
#it is immutable
s[2]='z'

TypeError: 'str' object does not support item assignment