In [4]:
#create a tuple
t=(4,5,6,7,'sudh',45.67,True)

In [5]:
#check the data types
type(t)

tuple

In [3]:
#extract the elements at position 0
t[0]

4

In [4]:
#gives the value excluding upperbound 4 means gives up to position 3
t[0:4]

(4, 5, 6, 7)

In [5]:
#print the last value in the tuple
t[-1]

True

In [6]:
#print the tuple
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [7]:
#print from position 0 to 5th witha step size of 2
t[0:6:2]

(4, 6, 'sudh')

In [8]:
#print from position 0 to 4th witha step size of -1
#contradiction
t[0:4:-1]

()

In [9]:
#create a list
l=[1,2,3,456,78]

In [10]:
#replace the value 2 with'kumar' 
#list is mutable
l[2]='kumar'

In [11]:
l

[1, 2, 'kumar', 456, 78]

In [12]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [13]:
#replace the value 2 with'kumar'
# tuple is immutable
t[2]='sudh'

TypeError: 'tuple' object does not support item assignment

In [14]:
#create a tuple
t1=(3,4,5,6)

In [15]:
#concatinate two tuple
#now may the question arise tuple is immutable how it is going to add 
# here concatination is possible bcz we are not assigning any value with the existing tuple t we are just adding a new tuple 
#into existing one
t+t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [16]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [17]:
#count no. of times 5 is avilable in tuple t
t.count(5)

1

In [18]:
#find the index of 45.67
t.index(45.67)

5

In [20]:
#create atuple
t=(3,4,56,7,'sudh')

In [22]:
#convert the tuple into list
t2=list(t)

In [23]:
#print the list t2
t2

[3, 4, 56, 7, 'sudh']

In [26]:
#convert the list t2 again in to tuple
tuple(t2)

(3, 4, 56, 7, 'sudh')

In [25]:
#convert the tuple into string
#it is possible but no meaning here
str(t2)

"[3, 4, 56, 7, 'sudh']"