In [1]:
l=[1,2,3,4,5,'sudh','kumar',234.45]

In [2]:
l[0]

1

In [3]:
for i in l:
    print(i)

1
2
3
4
5
sudh
kumar
234.45

In [10]:
#when we dont want to print anything
for i in l:
    pass

In [4]:
#create a list and print listvalue+1
l=[1,2,3,4,5,'sudh',234.45]
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [5]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [6]:
#create a list and store the integer in to another list
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [7]:
l1

[1, 2, 3, 4, 5]

In [11]:
#print the element in a string
s='sudh'
for i in s:
    print(i)

s
u
d
h

In [12]:
#use of else inside for loop
#if for loop is going to complete itself then it will execute else
#l=[1,2,3,4,5,'sudh',234.45]
for i in l:
    print(i)
else:
    print('if for loop is going to complete itself then it will execute else')

1
2
3
4
5
sudh
234.45
if for loop is going to complete itself then it will execute else

In [15]:
#for loop using break and else
#this will execute only if for is going to complete itself
for i in l:
    if i==4:
        break
    print(i)
else:
    print('this will execute only if for is going to complete itself')

1
2
3

In [16]:
s='sudhanshu'
for i in s:
    if i == 'n':
        break
    print(i)
else:
    print('print string',s)

s
u
d
h
a

In [17]:
s='sudhanshu'
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print('print string',s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [19]:
t=(4,5,6,7,8,6,'sudh')
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [20]:
b={4,5,6,7,7,7,7,7,7,7,7,8,'sudh'}

In [21]:
type(b)

set

In [22]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [23]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [24]:
d={'key1':'sudh','contact':'sudhanshu@ineuron.ai','position':'xyz'}

In [29]:
for i in d:
    print(i)

key1
contact
position

In [30]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [32]:
d['key1']

'sudh'

In [34]:
for i in d:
    print(i,':',d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [35]:
range(9)

range(0, 9)

In [36]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [41]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [42]:
list(range(0,9,-1))

[]

In [43]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
n=4
for i in  range(4):
    for j in range (0,i+1):
        print('sudh', end=' ')
    print('\n')

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [16]:
n=3
for i in  range(3):
    for j in range(i,n-1):
        print(' '*len('sudh'),end=' ')
    for j in range(i+1):
        print('sudh',end=' ')
    for j in range(i):
        print('sudh',end=' ')
    print('\n')

          sudh

     sudh sudh sudh

sudh sudh sudh sudh sudh

In [124]:
n=4
for i in  range(4):
    for j in range (0,i+1):
        print(" "*len('sudh'),'sudh',end='')
    print('\n')

     sudh

     sudh     sudh

     sudh     sudh     sudh

     sudh     sudh     sudh     sudh

In [49]:
n=3
for i in  range(n):
    for j in range (i,n-1):
        print(" "*len('sudh'),end='')
    for j in range

*

* *

* * *

In [50]:
t=(3,23,45,67,2,4,5,6)

In [56]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [59]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [61]:
s='ineuron'
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [71]:
s='ineuron'
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [65]:
s

'ineuron'

In [68]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [70]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [72]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [77]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [73]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [81]:
l=['sudh','kumar',3214545,'sudhanshu@ineuron.ai',345,3434535353]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
print(l1)

[3214545, 345, 3434535353]

In [128]:
d={1:3345345,'name':'sudh','email_id':'sudhanshu@ineuron.ai',234:'fsdsssd','43':'sfrfs',234:'3454'}
for i in d:
    if type(i)==int:
        print(i,':',d[i])

1 : 3345345
234 : 3454

In [90]:
s='aaaabbccd'
for i in set(s):
    print(i,':',s.count(i))

b : 2
a : 4
d : 1
c : 2

In [91]:
#'int' object is not iterable
i=25452667127287288912
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [92]:
str(i)

'25452667127287288912'

In [95]:
i=25452667127287288912
for j in str(i):
    print(int(j),type(int(j)))

2 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
2 <class 'int'>
6 <class 'int'>
6 <class 'int'>
7 <class 'int'>
1 <class 'int'>
2 <class 'int'>
7 <class 'int'>
2 <class 'int'>
8 <class 'int'>
7 <class 'int'>
2 <class 'int'>
8 <class 'int'>
8 <class 'int'>
9 <class 'int'>
1 <class 'int'>
2 <class 'int'>

In [105]:
t=('sudh','kumar',[1,2,3,4,5],(3,4,5,6),{3:'sudh','key2':'kumar'})

In [103]:
for i in t:
    if type(i) == list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [106]:
t=('sudh','kumar',[1,2,3,4,5],(3,4,5,6),{3:3,'key2':'kumar'})
for i in t:
    if type(i) == list or type(i)==tuple :
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3 :
                print(k)
                print(v)

3
3
3
3

In [109]:
d={4:5,'key1':'sudh','key2':'kumar'}

In [114]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [111]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [112]:
a=10
b=12
c=13

In [113]:
a,b,c=10,12,13

In [131]:
#q8:try to filter out all the odd values out all numeric data which is a part of a list
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','data science']]
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int and j%2 != 0:
                l1.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if (type(k)==int and k%2 != 0) or (type(v)==int and v%2 != 0):
                l1.append(k)
                l1.append(v)
print(l1)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 6, 7, 8]