In [ ]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and 
#expressions will be mathematical operators.
Ans:
*       ->Expression
'hello' ->Value
-87.8   ->Value
-       ->Expression
/       ->Expression
+       ->Expression
6       ->Value

In [ ]:
#2. What is the difference between string and variable?
Ans: 
->Variables are like containers for storing the data values and a variable is created the moment we first assign a value to it. 
e.g- x=10 While A string is the combination of character and number enclosed either in single or double quotes. e.g- a=’python’
->A Variable is a store of information, and a String is a type of information we would store in a Variable. Here in the above 
example ‘x’ and ‘a’ both are variable and ‘python’ is the string stored in the variable a.

In [ ]:
#3. Describe three different data types.
Ans:
Tuple, List and Set are three different data types are available in python.
->Tuple: A tuple is an ordered, indexed and immutable data types. It can store both string, number and Boolean value. 
        It allows duplicate members and Parenthesis () are used to create a tuple. E.g- T=(1,2,3,3,4,4,’som’,True)
->List: A list is an ordered, indexed and mutable data types. It can store string, number as well as Boolean value. 
        It allows duplicate members and square brackets [] are used to create a list. E.g- L=[1,2,3,3,5,5,’som’,True]
->Set: A set is an unordered, unindexed and mutable data types. It can store string, number as well as Boolean value. 
       It does not allow duplicate members and curly or flower brackets {} are used to create a set. S={1,2,3,’som’,True}

In [ ]:
#4. What is an expression made up of? What do all expressions do?
Ans:
->An expression is a combination of operators and operands that is interpreted to produce some other value. 
->In any programming language, an expression is evaluated as per the precedence of its operators. 
So that if there is more than one operator in an expression, their precedence decides which operation will be performed first.

In [ ]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans:
->In programming language terminology, an “expression” is a combination of values and functions that are combined and 
  interpreted by the compiler to create a new value, as opposed to a “statement” which is just a standalone unit of execution 
  and doesn't return anything
->A statement is a complete line of code that perform some action.
->An expression is any section of the code that evaluates to a value.
->If you can print it or assign it to a variable its an expression. If you can’t it’s a statement.

In [3]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
print(bacon)
#Ans: The variable bacon contain 22

22

In [5]:
#7. What should the values of the following two terms be?
print('spam' + 'spamspam')
print('spam' * 3)
#Ans: The values of the above two terms is same that is 'spamspamspam'

spamspamspam
spamspamspam

In [ ]:
#8. Why is eggs a valid variable name while 100 is invalid?
Ans:
In programming language to create a variable we have to follow certain rules, here in python also:
->A variable name must start with a letter or the underscore character
->A variable name cannot start with a number
So, eggs is a valid variable name while 100 is invalid.

In [ ]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans: 
The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value.

In [7]:
#10. Why does this expression cause an error? How can you fix it?
#'I have eaten ' + 99 + ' burritos.'
#Ans: 
#->Concatenation can’t be perform in between string and number. Here 1st and last statement is string and the middle one is number. So cant possible.
#->To perform this concatenation operation we have to convert 99 in to string that 
#means inside the quote '99'. Now the output of the expression 'I have eaten ' + '99'+ ' burritos. is:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'